---
import { containerStyles } from "@/shared/ui/container";
import { ImageHomeUpload } from "@/shared/assets/images/index";

import styles from "./styles.module.css";
---

<section class:list={[containerStyles, styles.root, "home__upload"]}>
  <div class={styles.uploadImage}>
    <img src={ImageHomeUpload.src} alt="upload" />
  </div>

  <div class={styles.left}>
    <h2 class={styles.heading}>Upload an image or take photo using the app</h2>
    <p class={styles.supportingText}>
      Discover and compare products instantly across numerous marketplaces with
      just a photo. We are simplifies your shopping experience by bridging the
      gap between you and the perfect find.
    </p>
  </div>
</section>
