---
import { IconLang, IconArrowSmall, IconMenu } from "@/shared/assets/icons";
import { Button, buttonStyles } from "@/shared/ui/button";

import styles from "./styles.module.css";
import { DIALOGS } from "@/shared/config";

const currentPathname = Astro.url.pathname;
const isActive = (pathname) => currentPathname === pathname;
---

<nav class:list={[styles.root]}>
  {
    isActive("/") ? (
      <img class={styles.logo} src="/logo.png" />
    ) : (
      <a href="/">
        <img class={styles.logo} src="/logo.png" />
      </a>
    )
  }
  <button class:list={[styles.buttonLang, styles.mobile]}>
    <IconLang class={styles.iconLang} />
    Eng
    <IconArrowSmall class={styles.iconArrow} />
  </button>
  <wc-dialog-open-trigger
    data-name={DIALOGS.MENU}
    class:list={[styles.buttonMenu, styles.mobile]}
  >
    <Button iconOnly size="xsmall">
      <IconMenu />
    </Button>
  </wc-dialog-open-trigger>
  <ul class:list={[styles.list, styles.desktop]}>
    <li class:list={[styles.item, isActive("/") && styles.active]}>
      <a href="/" class:list={[styles.link, isActive("/") && styles.active]}>
        Home
      </a>
    </li>
    <li class={styles.item}>
      {
        isActive("/") ? (
          <wc-scroll-to-trigger data-scroll-to="faq">
            <button class:list={[styles.link, styles.buttonGhost]}>FAQ</button>
          </wc-scroll-to-trigger>
        ) : (
          <a href="/#faq" class={styles.link}>
            FAQ
          </a>
        )
      }
    </li>
    <li class:list={[styles.item, isActive("/contact") && styles.active]}>
      <a
        href="/contact"
        class:list={[styles.link, isActive("/contact") && styles.active]}
        >Contact us</a
      >
    </li>
    <li class={styles.item}>
      <button class={styles.buttonLang}>
        <IconLang class={styles.iconLang} />
        Eng
        <IconArrowSmall class={styles.iconArrow} />
      </button>
    </li>
  </ul>
  <div class:list={[styles.actions, styles.desktop]}>
    <Button variant="secondary" size="small">Sign up</Button>
    <a
      href="/visual-search"
      class:list={[
        buttonStyles.root,
        buttonStyles.sizeSmall,
        buttonStyles.variantPrimary,
        styles.linkUnstyled,
      ]}
    >
      Let's search
    </a>
  </div>
</nav>
