---
import { Button, buttonStyles } from "@/shared/ui/button";
import { IconSearch, IconPlay } from "@/shared/assets/icons";
import { containerStyles } from "@/shared/ui/container";
import { DIALOGS } from "@/shared/config";

import styles from "./styles.module.css";
---

<section class:list={[containerStyles, styles.root]}>
  <div class={styles.left}>
    <h1 class={styles.heading}>Find any products by image</h1>
    <div class={styles.actions}>
      <a
        href="/visual-search"
        class:list={[
          buttonStyles.root,
          buttonStyles.sizeRegular,
          buttonStyles.variantPrimary,
          styles.link,
        ]}
      >
        Try it now
        <IconSearch />
      </a>
      <wc-dialog-open-trigger data-name={DIALOGS.VIDEO}>
        <Button class={styles.mobile} iconOnly variant="secondary">
          <IconPlay class={styles.iconPlay} />
        </Button>
      </wc-dialog-open-trigger>
      <wc-dialog-open-trigger data-name={DIALOGS.VIDEO}>
        <Button class={styles.desktop} variant="secondary">
          Watch video
          <IconPlay class={styles.iconPlay} />
        </Button>
      </wc-dialog-open-trigger>
    </div>
  </div>
  <div class={styles.right}></div>
</section>
