---
import { containerStyles } from "@/shared/ui/container";
import { buttonStyles } from "@/shared/ui/button";
import { IconSearch } from "@/shared/assets/icons";

import styles from "./styles.module.css";

import {
  ImageSlide1,
  ImageSlide2,
  ImageSlide3,
  ImageSlide4,
  ImageSlide5,
} from "@/shared/assets/images/index";
---

<section class:list={[containerStyles, styles.root, "home__markets"]}>
  <div class={styles.top}>
    <div class={styles.slider}>
      <div class={styles.trackContainer}>
        <div class={styles.track}>
          <div class={styles.slide}>
            <img src={ImageSlide1.src} alt="slide" />
          </div>

          <div class={styles.slide}>
            <img src={ImageSlide2.src} alt="slide" />
          </div>

          <div class={styles.slide}>
            <img src={ImageSlide3.src} alt="slide" />
          </div>

          <div class={styles.slide}>
            <img src={ImageSlide4.src} alt="slide" />
          </div>

          <div class={styles.slide}>
            <img src={ImageSlide5.src} alt="slide" />
          </div>
          <div class={styles.slide}>
            <img src={ImageSlide1.src} alt="slide" />
          </div>

          <div class={styles.slide}>
            <img src={ImageSlide2.src} alt="slide" />
          </div>

          <div class={styles.slide}>
            <img src={ImageSlide3.src} alt="slide" />
          </div>

          <div class={styles.slide}>
            <img src={ImageSlide4.src} alt="slide" />
          </div>

          <div class={styles.slide}>
            <img src={ImageSlide5.src} alt="slide" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class={styles.bottom}>
    <h2 class={styles.heading}>Instant search in multiple stores at once</h2>
    <a
      href="/visual-search"
      class:list={[
        buttonStyles.root,
        buttonStyles.sizeRegular,
        buttonStyles.variantPrimary,
        styles.linkUnstyled,
        styles.linkSearch,
      ]}
    >
      Let's search
      <IconSearch />
    </a>
  </div>
</section>
