---
import { BaseLayout } from "@/layouts";
import { containerStyles } from "@/shared/ui/container";
import { NavDesktop, NavMobile } from "@/shared/ui/nav";
import { Dialog } from "@/shared/ui/dialog";
import { DIALOGS } from "@/shared/config";

import { Footer } from "../_ui/footer";

import { Upload } from "./_ui/upload";
import { Filter } from "./_ui/filter";
import { SearchResults } from "./_ui/search-results";

import styles from "./_styles.module.css";
---

<BaseLayout class={styles.root}>
  <header class={containerStyles}>
    <NavDesktop />
  </header>
  <main class={styles.main}>
    <section class:list={[containerStyles, styles.section]}>
      <Upload />
      <div class={styles.wrapper}>
        <Filter />
        <SearchResults />
      </div>
    </section>
  </main>
  <Footer />
  <Dialog name={DIALOGS.MENU}>
    <NavMobile />
  </Dialog>
</BaseLayout>
